.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
        width: 50%;
}

html {
    font-family: DM Serif Text;
    background-color: #EADBC8;
    color: #102C57;
}

.why {
    color: #102C57;
}

.up_div {
    display: block;
    width: 100%
}

.html {
    width: 5%;
}

.css {
    width: 4%;
}

.py {
    width: 4%;
}

.glasses {
    width: 5%;
}